[submodule "browser-agent"]
	path = browser-agent
	url = https://github.com/m1guelpf/browser-agent.git
[submodule "examples_to_delete/balena-cl-interactive"]
	path = projects/rust/balena-cl-interactive
	url = https://github.com/DanEdens/balena-cl-interactive.git
[submodule "Omnispindle"]
	path = Omnispindle
	url = https://github.com/DanEdens/Omnispindle.git
